body {
    font-family: Verdana, sans-serif;
}
.small {
    width: 200px;
}
div {
    /*border: 1px solid #000;*/
    width: 180px;
    margin: 5;
    text-align: center;
    box-sizing: border-box;
}
.img {
    height: 150px;
    position: relative;
    background-image: url("");
}
.button {
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
}
button {
    width: 100px;
    height: 25px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.bigDiv {
    border: 1px solid #000;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
#catalog {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    box-sizing: border-box;
}
#allSum {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    /*flex-wrap: wrap;*/
    /*justify-content:right;*/
    /*box-sizing: border-box;*/
    display:table;
    text-align:end;
}
#forAllSum {
    margin-right: 50px;
    display:table-cell;
    vertical-align:middle;
}
#basket {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.price {
    position: absolute;
    width: 120px;
    height: 20px;
    right: 0%;
    bottom: 0%;
    background-color: rgba(255, 255, 255,0.7);
}
.BigDibForItems {
    border: 1px solid #000;
    width: 600px;
    display: flex;
    align-items: center;
}
input {
    height: 20px; 
    width: 50px;
    margin-left: 5px;
}

.divQuantity {
    display: flex;
    justify-content: space-around;
    min-width: 100px;
    width: auto;
}
p {
    margin: 0;
    padding: 0;
}
.itemInBasket {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}
.sum {
    margin-left: 25px;
}
.img
 {
   background-size: cover;
}