body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
}
tr:first-child p{
    transform: rotate(180deg);
}
.field{
    border: 2px solid rgb(136, 57, 26);
    box-sizing: border-box;
}
td:last-child p {
    transform: rotate(180deg);
}
.white{
    background: rgb(255, 255, 255);
    background-image: url("white.png");
}
.black{
    background: rgb(0, 0, 0);
    background-image: url("black.png");
}
.numeration{
    background: rgb(255, 255, 255);
    background-image: url("white.png");
}
.corner{
    background: rgb(255, 255, 255);
    background-image: url("white.png");
}
.whiteChessPiece{
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
}
.blackChessPiece{
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}
p{
    
    margin: 0;
    padding: 0;
}